/* Reset/Normalize básico */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0 0 var(--spacing-sm) 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
ul,
ol {
  padding-left: 1.25rem;
}
img,
picture {
  max-width: 100%;
  display: block;
}
button,
input,
select,
textarea {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
:focus-visible {
  outline: 3px solid var(--color-accent);
  outline-offset: 2px;
}
